#Virtual environment
.venv/
env/
venv/

#Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#SQLite database (fallback)
db.sqlite3

#Environment variables
.env

#Django static & media (if generated during collectstatic or uploads)
staticfiles/
media/

#IDE / Editor settings
.idea/
.vscode/
*.swp
.DS_Store